---
import Cta from '../../components/home/Cta-ContactShort.astro';
import SlotHero from '../../components/home/Slot-HeroFullscreen.astro';

import FullScreenSlider from "../../components/home/Slot-ExtraLargeSlider.astro";
let heroBackgroundUrl = 'url(/be/kitchens-coloured.webp)' // Define image for Slot-HeroFullscreen and then call BackgroundURL in Section

let backgroundUrl = 'url(/be/cctv-1.webp)' // Define image for Slot-HeroFullscreen and then call BackgroundURL in Section
let backgroundUrl2 = 'url(/be/cctv-2.webp)' // Define image for Slot-HeroFullscreen and then call BackgroundURL in Section
let backgroundUrl3 = 'url(/be/cctv-3.webp)' // Define image for Slot-HeroFullscreen and then call BackgroundURL in Section
let backgroundUrl4 = 'url(/be/cctv-4.webp)' // Define image for Slot-HeroFullscreen and then call BackgroundURL in Section


import Partners from "../../components/home/Section-Partners.astro";

import SectionHeadImg from "../../components/home/slot-img.astro";
import SectionHeadSecImg from "../../components/home/slot-img-rev.astro";

import Faqs from "../../components/home/Faq-Data.astro";

import BlogPost from "../../components/home/Slot-BlogPost-Single.astro";
import Layout from '../../layouts/Layout.astro';

---
<style>
  #contain { max-width: 1920px; }
</style>

<Layout
  description="Burrowin Electrical is your trusted partner for all your data and CCTV electrical needs. Our team of highly skilled and licensed electricians is dedicated to providing exceptional service."
  title="Data and CCTV Electricians · Burrowin Electrical"
>

  <SlotHero heroBackgroundUrl={heroBackgroundUrl}>
    <Fragment slot="smltitle">
      CCTV and Data Installations
    </Fragment>
    <Fragment slot="title">
      Improve Security with CCTV & Data Electrical Installations
    </Fragment>
    <Fragment slot="desc">
      Burrowin Electrical is your trusted partner for all your data and CCTV cable electrical needs. Our team of highly skilled and licensed electricians is dedicated to providing exceptional service, ensuring the safety and functionality of your home's electrical system.
    </Fragment>
  </SlotHero>



  <FullScreenSlider backgroundUrl={backgroundUrl} backgroundUrl2={backgroundUrl2} backgroundUrl3={backgroundUrl3} backgroundUrl4={backgroundUrl4}>
    <Fragment slot="smltitle">
      Security Camera Electrical Installations
    </Fragment>
    <Fragment slot="title">
      Improve Security with CCTV
    </Fragment>
    <Fragment slot="desc">
      With over 15 years of certified electrical expirience, you can trust us for complex jobs.
    </Fragment>
    
    <Fragment slot="smltitle2">
      High-Access Electrical Installers
    </Fragment>
    <Fragment slot="title2">
      High-Access Installations
    </Fragment>
    <Fragment slot="desc2">
      We take complete pride in our work, every single time. We love what we do, and we love doing it well!
    </Fragment>
  
    <Fragment slot="smltitle3">
      Internet and Data Cable Electrical Installations
    </Fragment>
    <Fragment slot="title3">
      Data Cable Electricians
    </Fragment>
    <Fragment slot="desc3">
      We work with a range of businesses to install certified outdoor electrical installations.
    </Fragment>

    <Fragment slot="smltitle4">
      Commercial Data Cable Electrical Installations
    </Fragment>
    <Fragment slot="title4">
      Commercial Data Cable Installers
    </Fragment>
    <Fragment slot="desc4">
      Helping bring to life travelling art installations and the like for Brisbane and the Gold Coast.
    </Fragment>
  </FullScreenSliderHero>


      


  <SectionHeadImg>
    <Fragment slot="smltitle">
      High-Quality Work at a Fair Price
    </Fragment>
    <Fragment slot="title">
      Exceptional Service, Fairly Priced.
    </Fragment>
    <Fragment slot="desc">
      Burrowin Electrical delivers exceptional residential electrical services with a focus on quality and affordability. Our team of licensed and insured electricians utilizes their expertise to ensure your home's electrical system is safe, reliable, and meets your specific needs. We believe everyone deserves access to quality electrical work, which is why we strive to offer competitive prices without compromising on expertise or customer service.
    </Fragment>
    <Fragment slot="cover">
      <img
        src="/be/bathrooms-coloured.webp"
        class="w-full"
        alt="Burrowin Electrical provides high-quality electrical solutions for homes and businesses in your area. We offer a wide range of services, including residential and commercial electrical installations, access control systems, and CCTV installations. Our team of skilled and experienced electricians is dedicated to delivering exceptional service at competitive prices. Whether you need a routine electrical repair or a complex security system installation, Burrowin Electrical is here to help. Contact us today for a free quote!"
      />
    </Fragment>
  </SectionHeadImg>

  <SectionHeadSecImg>
    <Fragment slot="smltitle">
      Leading Electrical Servicemen
    </Fragment>
    <Fragment slot="title">
      Highly Skilled Electricians
    </Fragment>
    <Fragment slot="desc">
      Burrowin Electrical prioritizes skill and expertise in every team member.  Our electricians undergo rigorous training and maintain up-to-date certifications, ensuring they possess the knowledge and experience to tackle any residential electrical challenge. This commitment to ongoing learning and development guarantees our customers receive the best possible outcome, no matter the project's complexity.
    </Fragment>
    <Fragment slot="cover">
      <img
        src="/be/kitchens-coloured.webp"
        class="w-full"
        alt="Burrowin Electrical provides high-quality electrical solutions for homes and businesses in your area. We offer a wide range of services, including residential and commercial electrical installations, access control systems, and CCTV installations. Our team of skilled and experienced electricians is dedicated to delivering exceptional service at competitive prices. Whether you need a routine electrical repair or a complex security system installation, Burrowin Electrical is here to help. Contact us today for a free quote!"
      />
    </Fragment>
  </SectionHeadSecImg>

                
      <div id="contain" class="mx-auto flex flex-col lg:flex-row my-24">
        <div class="w-full lg:w-1/2 my-4">
          <a href="/contact">  
            <BlogPost>
              <Fragment slot="smltitle">
                Partner Product
              </Fragment>
              <Fragment slot="title">
                Clevertronics Access Control
              </Fragment>
              <Fragment slot="desc">
                Clevertronics are market leading specialists in emergency exit lighting and automated monitoring. We are partnered to install their products proffesionally.
              </Fragment>
            </BlogPost>
          </a>
        </div>
        <div class="w-full lg:w-1/2 my-4">
          <a href="/contact">  
            <BlogPost>
              <Fragment slot="smltitle">
                Partner Product
              </Fragment>
              <Fragment slot="title">
                Cura1 FallAlert System
              </Fragment>
              <Fragment slot="desc">
                Perfect for in homes and assisted living for alerting nurses and carers of a fall. We are partnered to install their products proffesionally.
              </Fragment>
            </BlogPost>
          </a>
        </div>
      </div>
          

  <Cta />

  <Faqs />

  <Partners />


</Layout>
