---
const stats = [
  {
    name: 'Mikayla H',
    desc: "A very big thank you to Burrowin Electrical. Taylor carried out a high standard of quality work and is very pleasant to deal with. Not only is Taylor knowledgeable, very efficient and friendly but made sure after the job was completed everything was left clean and tidy. I couldn’t recommend Burrowin Electrical enough.",
    value: 'Burleigh Waters, QLD',
    img: '/be/google.png',
    link: 'https://www.google.com/search?q=burrowin+electrical&oq=burrowin+electrical+&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIGCAEQIxgnMgoIAhAAGAoYFhgeMgYIAxBFGDwyBggEEEUYPDIGCAUQRRg80gEINDE2OWowajeoAgCwAgA&sourceid=chrome&ie=UTF-8#',
  },
  {
    name: 'Adam H',
    desc: 'Taylor attended to the long list of work diligently, no mess, no fuss and would highly recommend him for any electrical works. Bloody 5 star',
    value: 'Runaway Bay, QLD',
    img: '/be/hipages.svg',
    link: 'https://hipages.com.au/connect/burrowinelectricalptyltd',
  },
  {
    name: 'Michelle D',
    desc: "Outstanding communication from start to finish. Taylor was very professional,  job completed as quoted, site left clean and tidy. Highly recommend Burrowin Electrical for any electrical work",
    value: 'Coomera Waters, QLD',
    img: '/be/google.png',
    link: 'https://www.google.com/search?q=burrowin+electrical&oq=burrowin+electrical+&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIGCAEQIxgnMgoIAhAAGAoYFhgeMgYIAxBFGDwyBggEEEUYPDIGCAUQRRg80gEINDE2OWowajeoAgCwAgA&sourceid=chrome&ie=UTF-8#',
  },
  {
    name: 'Chris',
    desc: 'Taylor was fantastic. Was on site within 2 hours of request after a last minute request from our pool builders. Highly recommend and will use him for any future work.',
    value: 'Labrador, QLD',
    img: '/be/hipages.svg',
    link: 'https://hipages.com.au/connect/burrowinelectricalptyltd',
  },
  {
    name: 'Doug R',
    desc: "I recently had the pleasure of collaborating with Taylor from Burrowin Electrical, and I couldn't be more impressed with his professionalism and expertise. Taylor is a remarkable electrician who provided exceptional service from start to finish. Taylor's punctuality was remarkable; he arrived exactly when he said he would, prepared to tackle the job at hand. Not only did he complete the work efficiently, but he also took the time to explain everything in detail ...",
    value: 'Pacific Pines, QLD',
    img: '/be/google.png',
    link: 'https://www.google.com/search?q=burrowin+electrical&oq=burrowin+electrical+&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIGCAEQIxgnMgoIAhAAGAoYFhgeMgYIAxBFGDwyBggEEEUYPDIGCAUQRRg80gEINDE2OWowajeoAgCwAgA&sourceid=chrome&ie=UTF-8#',
  },
  {
    name: 'Paul S',
    desc: 'This absolute gentleman went above and beyond the standard sparky. Fast. On time. Faultless work.',
    value: 'Labrador, QLD',
    img: '/be/hipages.svg',
    link: 'https://hipages.com.au/connect/burrowinelectricalptyltd',
  },
  {
    name: 'Clarissa D',
    desc: 'Concerned to help his costumer even if his skills are no longer needed.',
    value: 'Burleigh Waters, QLD',
    img: '/be/hipages.svg',
    link: 'https://hipages.com.au/connect/burrowinelectricalptyltd',
  },
  {
    name: 'Vivian C',
    desc: "I hired Taylor to replace a combination heat lamp fan and light in my bathroom. It turned out the new unit I had supplied had a slightly bigger size which potentially caused plumbing issues because of existing pipe locatuons , and different electrical swithing requirements than the original, making for a tricky install. He was able to think outside the box and get the unit installed as well as come up with a wiring configuration that avoided having to run a whole new cable which would have been messy and expensive.",
    value: 'Helensvale, QLD',
    img: '/be/google.png',
    link: 'https://www.google.com/search?q=burrowin+electrical&oq=burrowin+electrical+&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIGCAEQIxgnMgoIAhAAGAoYFhgeMgYIAxBFGDwyBggEEEUYPDIGCAUQRRg80gEINDE2OWowajeoAgCwAgA&sourceid=chrome&ie=UTF-8#',
  },
  {
    name: 'Matt',
    desc: 'Taylor did a great job and left the job site cleaner then when he started.',
    value: 'Broadbeach Waters, QLD',
    img: '/be/hipages.svg',
    link: 'https://hipages.com.au/connect/burrowinelectricalptyltd',
  },
  {
    name: 'Gigi B',
    desc: "A huge thank you to Taylor for his professionalism. He did a fantastic job, was easy to communicate  with and extremely efficient. Will definitely use his company again.",
    value: 'Pacific Pines, QLD',
    img: '/be/google.png',
    link: 'https://www.google.com/search?q=burrowin+electrical&oq=burrowin+electrical+&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIGCAEQIxgnMgoIAhAAGAoYFhgeMgYIAxBFGDwyBggEEEUYPDIGCAUQRRg80gEINDE2OWowajeoAgCwAgA&sourceid=chrome&ie=UTF-8#',
  },
  {
    name: 'Vivian',
    desc: 'Turned up on time and was able to come up with a working solution for what ended up being a more difficult install than expected, and left the site clean and tidy when done. Also had some good ideas for another problem I asked him about.',
    value: 'Gaven, QLD',
    img: '/be/hipages.svg',
    link: 'https://hipages.com.au/connect/burrowinelectricalptyltd',
  },
  {
    name: 'Steve W',
    desc: "Taylor is an approachable and friendly guy to be working with. He takes care with everything he does and delivers on time and to top quality. Highly recommended.",
    value: 'Upper Coomera, QLD',
    img: '/be/google.png',
    link: 'https://www.google.com/search?q=burrowin+electrical&oq=burrowin+electrical+&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIGCAEQIxgnMgoIAhAAGAoYFhgeMgYIAxBFGDwyBggEEEUYPDIGCAUQRRg80gEINDE2OWowajeoAgCwAgA&sourceid=chrome&ie=UTF-8#',
  },
  {
    name: 'Jeffery W',
    desc: 'This guy is amazing.... professional, smart, and quick. Can not fault his work. 5 stars',
    value: 'Paradise Point, QLD',
    img: '/be/hipages.svg',
    link: 'https://hipages.com.au/connect/burrowinelectricalptyltd',
  },
  {
    name: 'Shay S',
    desc: "Could not recommend Taylor and Burrowin Electrical enough. Very professional, fast and informative, a pleasure to deal with.",
    value: 'Burleigh Heads, QLD',
    img: '/be/google.png',
    link: 'https://www.google.com/search?q=burrowin+electrical&oq=burrowin+electrical+&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIGCAEQIxgnMgoIAhAAGAoYFhgeMgYIAxBFGDwyBggEEEUYPDIGCAUQRRg80gEINDE2OWowajeoAgCwAgA&sourceid=chrome&ie=UTF-8#',
  },
  {
    name: 'Sheldon',
    desc: 'Improve your home or commercial space with access control points through-out. Adding value and security.',
    value: 'Molendinar, QLD',
    img: '/be/hipages.svg',
    link: 'https://hipages.com.au/connect/burrowinelectricalptyltd',
  },
  {
    name: 'Jonathan M',
    desc: "Positive: Professionalism, Punctuality, Quality, Responsiveness, Value. Fantastic service and price! The guys were quick and effective. Highly recommend ⭐️⭐️⭐️⭐️⭐️. Services: Installation, Light fixture repair, Electrical panel repair, Outdoor lighting installation, Electrical wiring repair.",
    value: 'Nerang, QLD',
    img: '/be/google.png',
    link: 'https://www.google.com/search?q=burrowin+electrical&oq=burrowin+electrical+&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIGCAEQIxgnMgoIAhAAGAoYFhgeMgYIAxBFGDwyBggEEEUYPDIGCAUQRRg80gEINDE2OWowajeoAgCwAgA&sourceid=chrome&ie=UTF-8#',
  },
];
---

<style>
#contain { max-width: 1920px; }
  .carousel-cell { max-width: 100%; width: 1920px; }
  .flickity-viewport {
  transition: height 0.3s;
}
</style>

<section class="my-24">
  <div id="contain" class="mx-auto w-full px-4 sm:px-6 lg:px-8">
    
      <div class="w-full flex flex-col">
        
        <div class="w-full mb-6">
          <div class="block w-fit">
            <h3 id="chipHeader" class="my-4 px-2 py-1 font-thin uppercase tracking-widest text-xs text-white bg-primary-600 rounded-sm">Verified Reviews on Hi Pages & Google</h3>  
          </div>
          <h4 class="text-3xl sm:text-4xl font-medium tracking-tight">Trusted by Clients</h4>
          
        </div>     

        

      </div>
    
    <div class="w-full mb-12">

      <dl class="main-carousel" data-flickity='{ "adaptiveHeight": true, "autoPlay": 3200, "prevNextButtons": false }'>
        {
          stats.map((stat) => (
           
            <div class="carousel-cell text-center border-primary-900/10 dark:border-primary-300/10 bg-slate-100 dark:bg-slate-900 duration-200 rounded-sm border mx-8 px-4 md:px-6 py-8 sm:py-12 flex flex-col justify-start gap-4">
              <div>
                <img src={stat.img} alt={stat.desc} class="h-12 mb-6 mx-auto" />
              </div>
              <dt class="hidden text-xs uppercase font-thin tracking-widest">{stat.value}</dt>
              <dd class="text-lg xs:text-xl lg:text-2xl font-medium leading-loose tracking-tighter xs:tracking-tight">{stat.name}</dd>
              <p class="max-w-6xl mx-auto text-base lg:text-lg leading-6 mb-4 md:px-8">
                    {stat.desc}
              </p>
              <div>
                <a href={stat.link} class="text-black bg-slate-200 hover:bg-slate-300 duration-200 rounded-md px-6 py-4 text-base font-medium">Goto Review</a>  
              </div>
            </div>
          
          ))
        }
      </dl>
      
    </div>
    
  </div>
</section>
